body{
	background-color: #C1C1C1;
}

#contain{
	width: 100%;
	min-width: 1000px;
	margin: 110px 0 0 0;
	text-align: center;
}

#menu{
	padding: 0;
}

#menu > li{
	display: inline-block;
	text-align: left;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin: 20px 50px;
	overflow: hidden;
	-webkit-transition: all .3s ease-out;
}

#dorm{
	position: relative;
	background-color: #fff;
	background-image: url(../static/other/dorm.png);
	background-repeat: no-repeat;
	background-position: center center;
}

#map{
	position: relative;
	background-color: #fff;
	background-image: url(../static/other/map.png);
	background-repeat: no-repeat;
	background-position: center center;
}

#menu > li:hover{
	opacity: 0.6;
	cursor: pointer;
}

.menu-contain {
	position: relative;
	background: #777;
	width: 100%;
	padding: 20px 0 80px 0;
}

.menu-contain:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #777;
	border-width: 20px;
	margin-left: -20px;
}

#dorm-contain:after{
	left: 36%;
}

#map-contain:after{
	left: 65%;
}

.content-wrapper{
	padding: 30px;
	text-align: left;
}

.map-inner-contain{
	position: absolute;
	top: 150px;
	left: 73%;
	font-size: 30px;
	padding: 30px;
	color: #fff;
	line-height: 80px;
}

.content-title{
	border-radius: 5px;
	width: 1100px;
	height: 60px;
	background-color: #999;
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
	color: #fff;
	line-height: 60px;
	text-align: center;
	font-size: 35px;
	position: relative;
	top: 30px;
	left: 50px;
	margin: 20px 0 40px 0;
	-webkit-transition: all .3s ease-out;
}

.content-title:hover{
	opacity: 0.7;
	cursor: pointer;
}

.wrapper{
	margin: 80px 0 40px 50px;
	width: 1040px;
	background: linear-gradient(-135deg, transparent 25px, #fff 0);
	padding: 10px 30px 30px 30px;
	line-height: 2.0;
	font-size: 18px;
	text-align: left;
}